/* .textarea
{
    background: #f2f2f2;
    width: 500px;
    font-size: 20px;
    margin: auto;
}

.textbox
{
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    width: 35%;
    color: darkgrey;
}


.boxSize {
    width: 100px;
}

.form { width:985px; margin:0 auto } */